body{
  background-image: url(./images/texture-wall-floor-stone-8892.jpg);
}

a{
  color: aquamarine;
}

li{
  margin: 10px;
}

li a{
  color: navy;
}

.navbar-brand {
  /* background-color: rgba(172, 23, 23, 0.678); */
  border-radius: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 24px;
}


.contactColor {
  color: gainsboro;
  font-family: 'Anton', sans-serif;

}

.fontContent{
  font-family: 'Playfair Display', serif;
  color: ivory;

}

.container-image{
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.bottom-centered{
  position: absolute;
  color: gainsboro;
  bottom: 20px;
  left: 0px;
  background-color: slategray;
  width: 100%;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
}

.img-hieght{
  max-height: 500px;
}

.fontBackground{
  background-color: rgba(112, 128, 144,.6);
  border-radius: 10px;
  padding:10px;
}
